body {
  font-family: Verdana;
}

h1 {
  border-bottom: solid;
  border-color: #00cc88;
  color: grey;
}

h2 {
  color: #00cc88;
}

li {
  list-style: none;
}

#page-wrap {
  width: 800px;
  margin: 0 auto;
}

#one, #two, #three {
  height: 200px;
  width: 200px;
  float: left;
  margin-top: 0px;
}

nav {
  border-left: solid;
  border-right: solid;
  border-color: #00cc88;
}

a:link {
  font-family: weiss;
  color: grey;
  text-decoration: none;
}

a:visited {
  font-family: weiss;
  color: black;
  text-decoration: none;
}

a:hover {
  font-family: weiss;
  color: #00cc88;
  text-decoration: none;
}

a:active {
  font-family: weiss;
  color: white;
  text-decoration: none;
}

footer {
  position: fixed;
  width: 782px;
  text-align: center;
  bottom: 0px;
  left: 259px;
}
