body {
  background-color: #e6fff7;
}

li {
  list-style: none;
}

a:link {
  font-family: verdana;
  font-size: 20px;
  color: #342e38;
  text-decoration: none;
}

a:visited {
  font-family: verdana;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

a:hover {
  font-family: verdana;
  font-size: 20px;
  color: blue;
  text-decoration: none;
}

a:active {
  font-family: bodoni;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#page-wrap {
  width: 800px;
  margin: 0 auto;
}

#entry1 {
  width: 500px;
  margin: 0 auto;
  font-family: verdana;
  color: #342e38;
}

#profile {
  background-color: #ffe6e6;
  height: 800px;
  float: left;
  margin: 20px;
  border-style: solid;
  border-width: 6px;
  border-color: #82738c;
  border-radius: 15px 50px 30px 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: #342e38;
  font-family: verdana;
  font-size: 13px;
}

#selfie {
  z-index: 1;
}

#scroll {
  height: 850px;
  overflow: auto;
}

footer {
  position: fixed;
  width: 782px;
  text-align: center;
  bottom: 0px;
  left: 259px;
  border-width: 5px;
  border-radius: 5px;
  background-color: grey;
  padding-top: 20px;
}
