body {
  font-family: verdana;
}

li {
  list-style: none;
}

h3 {
  border-bottom: solid;
  border-color: #00cc88;
  color: grey;
}

p {
  color: grey;
}

a:link {
  font-family: weiss;
  color: grey;
  text-decoration: none;
}

a:visited {
  font-family: weiss;
  color: black;
  text-decoration: none;
}

a:hover {
  font-family: weiss;
  color: #00cc88;
  text-decoration: none;
}

a:active {
  font-family: weiss;
  color: white;
  text-decoration: none;
}

#page-wrap {
  width: 1000px;
  margin: 0 auto;
}

#entry1, #entry2, #entry3 {
  width: 500px;
  margin-left: 30%;
  padding-right: 50px;
  font-family: verdana;
  color: #342e38;
}

#profile {
  background-color: #00cc88;
  position: fixed;
  float: left;
  height: 450px;
  margin: 20px;
  border-width: 6px;
  border-radius: 15px 50px 30px 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: grey;
  font-family: verdana;
  font-size: 13px;
}

#selfie {
  z-index: 1;
}

li {
  padding: 5px;
}

nav {
  position: fixed;
  text-align: center;
  right: auto;
}
